@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url(reset.css);
@import url(variables.css);
@import url(tag.css);


/* COMMON */
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--black);
    line-height: 1.4;
    width:100vw;
}
.inner {
    box-sizing: border-box;
    padding: 0 60px ; 
    margin: 40px 105px;  
}
a {
    text-decoration: none;
    color: var(--black);
}
.header-hover:hover {
    color: var(--blue);
}
.badge {
    font-size: 10px;
    font-weight: 500;
    padding: 0 3px;
    height: 16px;
    margin-left: 3px;
    border-radius: 5px;
}

.tag {
    color: #fff;
    position: relative;
    font-size: 24px
}
.tag span {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 15px;
}
.tag-full span {
    fill: #fff;
    color: #fff;
}
/* .new {
    background-color: #FF7777;
    color: #fff;
    padding: 0 6px;
    width: 34.63px;
    height: 20px;
} 
.new > div  */

.hidden {
    display: none;
}
.font-blur h2:hover, .font-blur span:hover {
    opacity: .6;
}
.swipe-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);
    cursor: pointer;
}
.swipe-btn:hover {
    background-color: var(--light-grey);
} 
/* .--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
} */
.--header {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0
}
.--header > h2 , .--header > span {
    display: block;
}
.blue {
    color: var(--blue);
}



/* HEADER */
.top-banner {
    display: flex;
}
.top-banner img{
    width: 50vw;
}
.header {
    
}

.header-top {
    display: flex;
    margin: auto ;
    align-items: center;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid var(--light-grey);
}
.header-top .header-top-left {
    display: flex;
}
.header-top  .logo {
    display: inline-block;
    font-family: cursive;
    height: 30px;
    font-size: 25px;
    margin-right: 35px;
    
}
.header-top .header-top-left ul {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}
.header-top .header-top-left ul li a {
    padding: 25px 5px 15px;
    margin: 0 10px ;
    transform: translateY(-10px);

}
.header-top .header-top-right {
    display: flex
}
.header-top .header-top-right .search-bar {
    box-sizing: border-box;
    margin-left: 20px;
    position:relative;
    
}
.header-top .header-top-right .search-bar .material-symbols-outlined.search {
    position:absolute;
    top: 4px;
    font-size: 24px;
    padding: 5px 10px;
    
}
.header-top .header-top-right .search-bar input {
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 286.47px;
    padding: 10px 40px;
    border:1px solid var(--light-grey);
    border-radius: 5px;
    background-color: #fff;
}
.header-top .header-top-right .search-bar input::placeholder {
    color: var(--light-grey);
}
.header-top .header-top-right .material-symbols-outlined.cart a{
    font-size: 30px;
    padding: 6px;
    margin: 10px;
    transform: translateY(-100px);
}
.header-top .header-top-right .user-menu {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header-top .header-top-right .user-menu a {
    padding: 5px 10px;
}
.header-top .header-top-right .user-menu div:nth-child(2)::before {
    content: "";
    border: .7px solid var(--light-grey);
}
.header-top .header-top-right .user-menu .write {
    width: 94.64px;
    height: 40px;
    box-sizing: border-box;
    background-color: var(--blue);
    border-radius: 5px;
    position: relative;
    color: #fff;
    padding: 0 20px; 
    display: flex;
    align-items: center;
}
.header-top .header-top-right .user-menu .write .write__text {

  
} 
.header-top .header-top-right .user-menu .write .write__chv {
    font-size: 27px;
    position: absolute;
    right: 9px;
    top: 7px;
}
.header-btm {
    height: 65px;
    width: 100vw;
    overflow: scroll;
    display: flex;
    border-bottom: .7px solid var(--light-grey);
}
.header-btm ul {
    display: flex;
    align-items: center;
}
.header-btm ul li {
    display: inline-block;
    padding: 12px 6px;
    margin: 0 5px;
}
.header-btm .menu li:last-child a {
    display: flex;
    align-items: center;
}
.header-btm .menu li div.badge {
    color: #fff;
    background-color: var(--grey);
}



/* WELCOME_PAGE */
.welcome-page {
    padding-top: 50px;

}
.welcome-page .welcome-page__main {
    display: flex;
}
.welcome-page .main-photo img {
    height: 431.98px;
    border-radius: 5px;
}
.welcome-page .main-swipe {
    width: 228.75px;
    height: 431.98px;
    margin-left: 30px;
    background-color: aqua;
}
.welcome-page .main-swipe:hover {

}
.welcome-page__sub {
    margin: 20px 0;
}
.welcome-page .welcome-page__sub ul {
    display: flex;
    justify-content: space-around;
}
.welcome-page .welcome-page__sub ul li {
    
}
.welcome-page .welcome-page__sub ul li a{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.welcome-page .welcome-page__sub ul li img{
    width: 88px;
}


/* MAIN_USER_PHOTO */
.main-user-photo {
    display: flex;
    flex-direction: column;
 
}
.main-user-photo .item-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.main-user-photo .item-box .item{
    display: flex;
    flex-direction: column;
    height: 237.33px;
}
.main-user-photo .item-box .item .item-photo img{
    width: 269px;
    height: 195px;
}


/* PRODUCT_CATEGORY */
.category {
    margin: 40px 105px;
    height: 98px;
}
.product-category {
    display: flex;
    justify-content: space-between;
    position: relative;  
}
.product-category .swipe-btn-right {
    right: 0;
    top: 5px;
}
.product-category .swipe-btn-left {
    left: 0;
    top: 5px;
}
.product-category li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* TODAYS_DEAL */
.todaysdeal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.todaysdeal .deal-item-container {
    display: flex;
    
}

.todaysdeal .deal-item-container a {
    width: 269px;
   
}
.todaysdeal .deal-item-container .deal-item-box {
    display: flex;
   
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-photo {
    position: relative;
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-photo div.badge {
    background-color: rgb(239,128,122);
    color: #fff;
    height: 23px;
    font-size: 15px;
    position: absolute;
    top: 9px;
    left: 8px;
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-photo img.deal-item__product {
    width: 269px;
}
.todaysdeal img.endsale {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-text {
    width: 100%;
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-text img.todaystart {
    height: 16px;
}
.todaysdeal .deal-item-container .deal-item-box .deal-item-text .badges {
    display: flex;
    margin-right:2px;
}
.todaysdeal .badge--free-shipping{
    background-color: var(--light-grey);
    color: var(--grey);
}
.todaysdeal .badge--sale{
    background-color: rgb(239,128,122);
    color: #fff;
}